
.profile {
    position: relative;
}

.profile-button {
    border: none;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
    padding: 5px 10px;
    color: #1A0B2E;
}

.profile-button:hover {
    transform: scale(1.1);
}


/* Profile dropdown menu */
.profile-dropdown {
    position: absolute;
    top: 45px;
    right: 0;

    width: 170px;
    padding: 15px;

    background-color: white;

    border: 1px solid #f5cac3;
    border-radius: 8px;

    box-shadow: 0 4px 10px 1A0B2E;

    z-index: 1000;
}

.profile-dropdown p {
    margin: 0;
    padding: 8px 0 12px;

    font-size: 15px;
    color: black;
}

.profile-dropdown button {
    display: block;

    width: 100%;
    padding: 8px 0;

    border: none;
    background-color: transparent;

    text-align: left;
    font-size: 15px;

    color: #1A0B2E;

    cursor: pointer;
}

.profile-dropdown button:hover {
    color: #FFB7A5;
}

.confirmation-overlay {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #1A0B2E;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;

    padding: 20px;
    box-sizing: border-box;
}

.confirmation-box {
    width: 350px;
    max-width: 100%;

    padding: 30px;

    box-sizing: border-box;

    background-color: white;

    border: 1px solid #1A0B2E;

    border-radius: 12px;

    text-align: center;

    box-shadow: 0 4px 20px #1A0B2E;
}


/* Popup question */
.confirmation-box p {
    margin-top: 0;
    margin-bottom: 25px;

    font-size: 18px;

    color: #1A0B2E;
}


/* Buttons inside popup */
.confirmation-box button {
    padding: 10px 20px;

    margin: 0 5px;

    border: none;
    border-radius: 6px;

    background-color: #1A0B2E;

    color: white;

    cursor: pointer;

    font-size: 14px;
}


/* Button hover */
.confirmation-box button:hover {
    transform: scale(1.05);

    background-color: #FFB7A5;
}


/* Mobile */
@media (max-width: 600px) {

    .profile-dropdown {

        right: 0;

        width: 160px;

        padding: 12px;

    }

    .confirmation-box {

        width: 100%;

        max-width: 350px;

        padding: 25px 20px;

    }

    .confirmation-box button {

        margin: 5px;

    }

}


/* Small mobile */
@media (max-width: 400px) {

    .confirmation-overlay {

        padding: 15px;

    }

    .confirmation-box {

        padding: 20px 15px;

    }

    .confirmation-box p {

        font-size: 16px;

    }

    .confirmation-box button {

        padding: 10px 15px;

        font-size: 14px;

    }

}