
.header nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
    bottom: -30px;
}

.navbar > * {
    color: #1A0B2E;
    font-size: 18px;
}

.header nav > *:hover {
    color: #1A0B2E;              
    background-color: #E8D3C7;

}