
.header nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.navbar > * {
    color: #7a3e48;
    font-size: 18px;
}

.header nav > *:hover {
    color: #b95765;
}