

header {
    padding: 20px 40px;

    display: flex;
    align-items: center;
}

.closis-logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.header nav {
    flex: 1;

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 30px;
}

.profile {
    position: relative;
}


.auth-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.auth-links a {
    color: #7e1414;
    font-weight: 500;
    font-size: 18px;
}

.auth-links a:hover {
    text-decoration: underline;
}