

.log-in {

    font-family: arial, sans-serif;
    width: 400px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #FBE9E6;
    cursor: pointer;
    border: 1px solid #1A0B2E;
    box-sizing: border-box;

}

.log-in h3 {

    font-size: 30px;

    color: #1A0B2E;

}

.log-in form {

    display: flex;

    flex-direction: column;

}

.log-in input {

    padding: 10px;

    margin-bottom: 20px;

    border: 1px solid #1A0B2E;

    border-radius: 5px;

    font-size: 16px;

}

.log-in button {

    padding: 10px;

    margin-top: 8px;

    border: 1px solid #1A0B2E;

    border-radius: 5px;

    background-color: #1A0B2E;

    color: white;

    font-size: 18px;

    cursor: pointer;

}

.log-in button:hover {

    background-color: #3d1e65;

}

.log-in p {

    text-align: center;

    margin-top: 15px;

}

.log-in a {

    color: #1A0B2E;

}

.log-in a:hover {

    text-decoration: underline;

}

